<head>
  <script src="../static/libs/d3.v4.min.js"></script>
  <script src="designs_working_space.js" type="text/javascript"></script>
  <link rel="stylesheet" href="study.css">
</head>
<body>
  <div class="study-container">
    <div class="draw-area">
    </div>
    <!-- <div class="inputs">
      Height: <input id="height" type="text" name="" value=""/>
    </div> -->
  </div>
</body>
