* {
  margin:0;
  padding:0;
}

.study-container{
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 265px 265px 1fr;
  grid-template-rows: minmax(7%, 12%) 30% 30% 30%;
}

.draw-area{
  grid-column: 2 / span 1;
  grid-row: 2 / 5;
}

.inputs{
  grid-column: 3 / span 1;
  grid-row: 2 / 5;
}

.a-messages{
  stroke: black;
  stroke-width: 2px;
}
