<html>
    <head>
      <link rel="stylesheet" type="text/css" href="static/study.css" />
      <script src="static/libs/d3.v4.min.js"></script>
      <script src="static/libs/jquery-1.11.0.min.js"></script>
    </head>
    <body>
	    <div class="comments">
	    <p>Do you have any comments or remarks about the study? Please type them here:</p>
	    <form action="{{ url_for('processComments') }}" method="post">
		<input type="hidden" id="session" name="session" value="{{ session }}" />
		<textarea id="comments" name="comments" cols=80 rows=20></textarea>
		<div class="formfield">
		    <input type="submit" value="Proceed" />
		</div>
	    </form>
	    </div>
    </body>
</html>
