<html>
    <head>
      <link rel="stylesheet" type="text/css" href="static/study.css" />
      <script src="static/libs/d3.v4.min.js"></script>
      <script src="static/libs/jquery-1.11.0.min.js"></script>
    </head>
    <body>
	<div>
	    <div class="comments">

<center><h4>Thank You for Participating!</h4></center>


<center>
	    <a href="{{ url_for('demographics') }}">Start Another</a>
</center>
	    </div>
	</div>
    </body>
</html>
